{% extends "::base.html.twig" %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href={{ asset('bundles/core/css/bootstrap.css') }} >
<link rel="stylesheet" type="text/css" href={{ asset('bundles/core/css/bootstrap-theme.css') }} >


{% endblock %}

{% block title %}Symfony Blog{% endblock %}

{% block body %}


<nav class="navbar navbar-inverse">
    
<a href="#"><h1>Symfony 3 Blog</h1></a>
<a href="{{path('blog_core_post_index')}}" ><button type="button" class="btn btn-primary">Home</button></a>

</nav>

<div class="container">
    
{% block content %} 

   <div class="row">
       
          <div class="col-md-8">
            
         {% for type, messages in app.session.flashbag.all() %}
         
            {% for message in messages %}
            
              <p class="bg-info">{{message}}</p>
            
            {% endfor %}
         
         {% endfor %}
            
            
              
            {% block section %}
            {% endblock %}
         
          </div>
          
          <div class="col-md-4 bg-success ">
              
            {% block sidebar %} 
            {% endblock %}
            
          </div>
          
    </div>  
    
{% endblock %}

</div>


{% endblock %}






{% block javascripts %}

<script src="{{ asset('bundles/core/js/bootstrap.js') }}"></script>

{% endblock %}