<article>
    <header>
            <p> 
    
            {{"blog.core.post.comment.on" | trans | capitalize  }}:<time datetime="{{ comment.createdAt | date('c') }}" > {{ comment.createdAt | date }} </time> 
    
               {{"blog.core.post.comment.by" | trans }}: <a href="#">{{ comment.author}}</a>
            
            </p>
    </header>

    <p class="text-success" >
        
        {{ comment.body | nl2br}}   
        
    </p>
    
</article>
  